.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 1.5rem;
}

@media (min-width: 768px) {
  section {
    padding: 5rem 2rem;
  }
}
